.about-container {
  display: flex;
  width: 100%;
  height: calc(100vh - 90px);
  padding-top: 40px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: rgba(255, 255, 255);
  scroll-snap-align: start;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.about-title {
  font-family: "Avenir LT Pro 85 Heavy";
  line-height: 1.4em;
  font-size: 36px;
  color: rgb(37,53,44);
  margin-bottom: 0;
  margin-top: 0;
  text-align: left;
  width: 50%;
}

.about-subtitle {
  font-family: "Avenir LT Pro 85 Heavy";
  line-height: 1.4em;
  font-size: 16px;
  color: rgb(123,158,54);
  margin-top: 0;
  width: 50%;
  text-align: left;
}

.about-text {
  font-family: "Avenir LT Pro 35 Light";
  line-height: 1.4em;
  font-size: 18px;
  color: rgb(37,53,44);
  margin-top: 0;
  width: 50%;
  text-align: left;
}

@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    min-height: calc(100vh - 70px);
    height: auto;
    padding-top: 25px;
  }

  .about-content {
    width: 100%;
    height: auto;
    order: 2;
    align-items: center;
    text-align: center;

  }

  .about-image {
    width: 100%;
    height: 300px;
    order: 1;
    margin-bottom: 30px;
  }

  .about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .about-title {
    font-size: 28px !important;
    width: 90% !important;
    text-align: center;
    margin: 0 0 10px !important;
  }

  .about-subtitle {
    font-size: 14px !important;
    width: 90% !important;
    text-align: center;
    margin: 0 auto 15px !important;
  }

  .about-text {
    width: 90% !important;
    font-size: 16px !important;
    text-align: center;
    margin: 0 auto;
    line-height: 1.6em;
  }

  .about-text p {
    margin-bottom: 20px;
  }
}