.products-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: calc(100vh);
  padding-top: 90px;
  align-items: center;
  overflow: hidden;
  background-color: rgba(237,237,237);
}

.section-title {
  font-family: "Avenir LT Pro 35 Light", sans-serif;
  font-size: 56px;
  color: rgb(37,53,44);
}

.products-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  margin-top: 0;
  row-gap: 35px;
}

.product-card {
  display: flex;
  width: 33%;
  height: 282px;
  gap: 1vw;
}

.product-info {
  display: flex;
  max-height: 100%;
  width: 39%;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2vh;
}

.product-description {
  font-family: "Avenir LT Pro 35 Light", sans-serif;
  font-size: 15px;
  color: rgb(66,66,66);
}

.product-name {
  font-family: "Avenir LT Pro 85 Heavy";
  line-height: 1.4em;
  font-size: 20px;
  color: rgb(37,53,44);
  margin: 0;
  text-align: left;
  width: 100%;
}

.product-name-btn {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  margin-bottom: 2vh;
}

.cta-button {
  color: #FFFFFF;
  background-color: #5E801A;
  font-family: "Avenir LT Pro 35 Light", sans-serif;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 0;
  padding: 10px 20px;
  transition: all 0.2s ease, visibility 0s;
  width: 50%;
  text-align: center;
}

.cta-button:hover {
  background-color: #FFFFFF;
  color: #5E801A;
  border: 1px solid #5E801A;
}

@media (max-width: 768px) {
  .products-section {
    height: auto;
    min-height: calc(100vh - 70px);
    padding-top: 19px;
    width: 100vw;
    scroll-snap-align: start;
  }

  .section-title {
    font-size: 32px !important;
    text-align: center;
    width: 90%;
    margin: 20px auto 30px;
  }

  .products-grid {
    flex-direction: column;
    width: 100%;
    gap: 40px;
    align-items: center;
  }

  .product-card {
    flex-direction: column;
    width: 80% !important;
    height: auto;
    gap: 20px;
    align-items: center;
  }
  
  .product-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  .product-info {
    width: 100% !important;
    padding: 0 15px;
    gap: 15px;
  }

  .product-description {
    font-size: 16px !important;
    line-height: 1.6em;
    text-align: center;
  }

  .product-name {
    font-size: 22px !important;
    text-align: center !important;
  }

  .product-name-btn {
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
  }

  .cta-button {
    width: 80% !important;
    font-size: 16px !important;
    padding: 15px 25px !important;
    border-radius: 4px;
    align-self: center;
    justify-self: center;
  }
}