.inicio-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 90px);
  margin-top: 90px;
  scroll-snap-align: end;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.inicio-content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: white;
}

.inicio-title {
  font-family: 'Poppins', sans-serif;
  font-size: 38px;
  line-height: 1.3em;
  font-weight: 600;
  letter-spacing: 0.01em;
  width: 40%;
  margin: 30vh 0px 47px calc((100% - 980px) * 0.5);
  z-index: 2;
}

.inicio-description {
  font-family: "Avenir LT Pro 35 Light", sans-serif;
  margin-top: 1%;
  margin: 0 0px 47px calc((100% - 980px) * 0.5);
  font-size: 18px;
  line-height: 1.5em;
  width: 51%;
  letter-spacing: 0.01em;
}

.inicio-button-container {
  height: 11.2%;
  width: 86.5%;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-left: 6.7%;
}

.inicio-button {
  background-color: #00000000 !important;
  border: 2px solid #ffffff !important;
  border-radius: 20px !important;
  height: 59.1% !important;
  width: max-content;
  font-size: 20px !important;
  text-transform: none !important;
  font-size: 22.5px !important;
  font-weight: bold !important;
  letter-spacing: 0.01em;
  transition: border-color .4s ease 0s,background-color .4s ease 0s;
}

.inicio-button:hover {
  background-color: rgb(50, 50, 50) !important;
  border: 2px solid rgb(50, 50, 50) !important;
}