.certification-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 80px);
  align-items: center;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
  scroll-snap-align: start;
}

.certification-logo {
  margin-bottom: 10vh;
}

.certification-title {
  font-family: "Avenir LT Pro 35 Light";
  font-size: 36px;
  margin: 0;
  strong {
    font-family: "Avenir LT Pro 85 Heavy";
  }
}

.certification-text {
  width: 40%;
  font-family: "Avenir LT Pro 35 Light";
  font-size: 18px;
  line-height: 1.875em;
}

@media (max-width: 768px) {
  .certification-container {
    height: auto;
    min-height: calc(100vh);
    padding: 70px 20px 40px;
    scroll-snap-align: start;
  }

  .certification-logo {
    width: 200px;
    margin-bottom: 5vh;
  }

  .certification-title {
    font-size: 28px !important;
    width: 90%;
    margin: 0 auto 20px;
    line-height: 1.3em;
  }

  .certification-text {
    width: 90% !important;
    font-size: 16px !important;
    line-height: 1.6em;
    text-align: center;
  }
}