.contact-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: calc(100vh - 80px - 5vh);
  align-items: center;
  overflow: hidden;
  background-color: rgba(255, 255, 255);
  scroll-snap-align: start;
}

.contact-title {
  font-family: "Avenir LT Pro 85 Heavy";
  font-size: 56px;
  color: rgb(37, 53, 44);
  margin: 1vh 0 2vh 0;
}

.contact-grid {
  display: flex;
  flex-direction: row;
  width: 48%;
  margin-top: 0;
  color: rgb(37, 53, 44);
  justify-content: space-between;
}

.contact-grid h3 {
  font-family: "Avenir LT Pro 85 Heavy";
  font-size: 26px;
  color: rgb(37, 53, 44);
}

.address-card {
  font-family: "Avenir LT Pro 85 Heavy";
  width: 37%;
  color: rgb(66, 66, 66);

  p {
    font-family: "Avenir LT Pro 35 Light";
    margin: 0 0 4vh 0;
  }
}

.contact-info {
  font-family: "Avenir LT Pro 85 Heavy";
  width: 33%;  
  p {
    font-family: "Avenir LT Pro 35 Light";
    margin: 0 0 4vh 0;
  }
}

.social-links {
  font-family: "Avenir LT Pro 85 Heavy";
  text-align: center;
  width: 25%;  
  p {
    font-family: "Avenir LT Pro 35 Light";
  }
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

@media (max-width: 768px) {
  .contact-container {
    height: auto;
    min-height: calc(100vh - 80px - 5vh);
    padding-top: 19px;
    scroll-snap-align: start;
  }

  .contact-title {
    font-size: 32px !important;
    margin: 40px 0 20px 0  !important;
    text-align: center;
    width: 90%;
  }

  .contact-grid {
    flex-direction: column;
    width: 100% !important;
    gap: 40px;
  }

  .address-card,
  .contact-info,
  .social-links {
    width: 100% !important;
    text-align: center;
  }
  
  .contact-info h3 {
    font-size: 22px !important;
    margin: 0;
  }

  .social-links h3 {
    font-size: 22px !important;
    margin: 0;
  }

  .contact-grid h3 {
    font-size: 22px !important;
    margin-bottom: 10px;
  }

  .address-item,
  .contact-item {
    margin-bottom: 5px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .address-item p,
  .contact-item p {
    font-size: 16px !important;
    line-height: 1.5em;
    margin: 5px 0 !important;
    width: 90%;
  }

  .social-icons {
    justify-content: center;
    gap: 25px;
    padding: 0 20px;
  }

  .social-icons img {
    width: 40px;
    height: 40px;
  }

  .map-container {
    width: 100%;
    padding: 30px 0;
  }

  .map-container iframe {
    width: 100% !important;
    height: 300px !important;
  }
}