main {
  min-height: calc(100vh - 90px);
}

main::before {
  content: '';
  position: fixed;
  top: 6.3vh;
  left: 0;
  width: 100%;
  height: calc(100vh - 62px);
  background-image: url(src/assets/bg_image.avif);
  background-size: cover;
  background-position: 0 3vh;
  background-repeat: no-repeat;
  z-index: -1;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@media (max-width: 768px) {
  main {
      min-height: calc(100vh - 70px);
    padding: 0;
  }

  main::before {
    top: 0; /* Remove o espaçamento superior */
    min-height: calc(100vh - 70px);
    margin-top: 70px;
    background-position: center;
  }

  /* Ajustes para o logo (se necessário) */
  .logo {
    height: 4em; /* Reduz o tamanho do logo */
    padding: 1em; /* Reduz o padding */
  }

  /* Ajustes para cards (se houver) */
  .card {
    padding: 1em; /* Reduz o padding dos cards */
  }
}